@font-face {
    font-family: 'Brookshire';
    src: url(font/EFCO\ Brookshire\ Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: auto;
}

.main {
    width: 100%;
    /*background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);*/
    background-image: url(img/ai-generated-9047404.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/*Navegação*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 3em;
}

.container_logo img{
    height: 100px;
    width: 100px;
}

.titulo h2{
    font-family: 'Brookshire', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/*CSS Calendary*/
#container_caledary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.calendar {
    width: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0078d4;
    color: #fff;
}

.calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.calendar-body {
    padding: 20px;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-weekdays div {
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days div {
    width: 14.28%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calendar-days div:hover {
    background-color: #e1e1e1;
}

.calendar-days .selected {
    background-color: #0078d4;
    color: #fff;
}

.time-selection {
    display: none;
    margin-top: 20px;
}

.time-selection.active {
    display: block;
}

.time-selection input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.time-selection input:hover {
    border-color: #0078d4;
}

/* Estilo para horários agendados */
.btn-secondary {
    background-color: #6c757d;  /* Cor cinza para horários agendados */
    border-color: #6c757d;
    color: white;
}

/* Se quiser destacar mais, você pode adicionar um efeito de sombra, por exemplo */
.btn-secondary:disabled {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

