<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <!--CSS-->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo barber wise sem_fundo.png') }}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}" />
  </head>
  <body>
    <main>
      <img
        class="logo"
        src="{{ url_for('static', filename='logo barber wise sem_fundo.png') }}"
        alt="logo barber wise sem_fundo"
      />
      <section>
        <h2>Bem-Vindo</h2>
        <div class="container">
          <form action="" method="post">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" />
            <hr />
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" />
            <hr />
            <label for="perfil">Escolha seu perfil</label>
            <input list="browsers" name="browser" id="browser" />
            <hr />
            <datalist id="browsers">
              <option value="Barbeiro"></option>
              <option value="Cliente"></option>
            </datalist>
            <label for="password">Senha</label>
            <input type="password" name="password" id="senha" />
            <hr />
            <label for="password_confirm">Confirma Senha</label>
            <input type="password" name="password_confirm" id="senha_confirm" />
            <hr />
            <button class="btn" type="submit">Cadastrar</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
