<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Barber Wise</title>
    <!--CSS-->
    <link rel="shortcut icon" href="/app/static/logo barber wise sem_fundo.png" type="image/x-icon">
    <link rel="stylesheet" href="/app/static/login.css">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img src="{{url_for('static', filename='logo barber wise sem_fundo.png')}}" alt="logo barber wise sem_fundo.png">
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviço</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>

        </div> 
        <div class="content">
            <h1>Web Design & <br><span>Development</span> <br>Course</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Login</h2>
                    <input type="email" name="email" placeholder="E-mail ">
                    <input type="password" name="" placeholder="Senha">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Não possui cadastro?<br>
                    <a href="/cadastro">Clique Aqui </a></p>
                    <br>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>