<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Barbeiro</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo barber wise sem_fundo.png') }}"
        type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/painelCliente.css')}}">
    <!-- Bootstrap CSS e JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--Biblioteca SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="main">
        <!--Navegação-->
        <nav class="top-nav">
            <div class="container_logo">
                <img src="{{url_for('static', filename='css/img/logo barber wise sem_fundo_letra_branca.png')}}"
                    alt="Logo Barber Wise">
            </div>
            <div class="titulo">
                <h2>Barber Wise</h2>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <ul class="menu">
                <li>Sobre</li>
                <li>Serviço</li>
                <li>Contato</li>
            </ul>
        </nav>
        <!--Fim da navegação-->

        <!--Container do calendário-->
        <div id="container_caledary">
            <div class="calendar">
                <div class="calendar-header">
                    <button id="prevMonth">&lt;</button>
                    <div id="monthYear"></div>
                    <button id="nextMonth">&gt;</button>
                </div>
                <div class="calendar-body">
                    <div class="calendar-weekdays">
                        <div>Segunda</div>
                        <div>Terça</div>
                        <div>Quarta</div>
                        <div>Quinta</div>
                        <div>Sexta</div>
                        <div>Sábado</div>
                        <div>Domingo</div>
                    </div>
                    <div class="calendar-days" id="calendarDays"></div>
                </div>
            </div>
        </div>

        <!-- Modal do Bootstrap para informações do cliente -->
        <div class="modal fade" id="customerInfoModal" tabindex="-1" aria-labelledby="customerInfoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customerInfoModalLabel">Informações do Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="customerName" class="form-label"><i class="bi bi-person-fill"></i> Nome</label>
                            <input type="text" class="form-control" id="customerName" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="customerPhone" class="form-label"><i class="bi bi-telephone-fill"></i>
                                Telefone</label>
                            <input type="text" class="form-control" id="customerPhone" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="customerEmail" class="form-label"><i class="bi bi-envelope-fill"></i>
                                E-mail</label>
                            <input type="email" class="form-control" id="customerEmail" disabled>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal do Bootstrap para selecionar horário -->
        <div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="timeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="timeModalLabel">Horários Marcados</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Horários disponíveis -->
                        <div id="timeOptions" class="d-flex flex-wrap gap-2"></div>

                        <!-- Seleção de Barbearia -->
                        <div id="barber-selection" class="mt-4" style="display: none;">
                            <label for="barberSelect" class="form-label">Selecione a Barbearia:</label>
                            <select id="barberSelect" class="form-select"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="confirmTime" class="btn btn-primary" disabled>Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script>
        const calendarDays = document.getElementById('calendarDays');
        const monthYear = document.getElementById('monthYear');
        const prevMonth = document.getElementById('prevMonth');
        const nextMonth = document.getElementById('nextMonth');
        const confirmTime = document.getElementById('confirmTime');
        const timeOptions = document.getElementById('timeOptions');
        const timeModal = new bootstrap.Modal(document.getElementById('timeModal'));
        const customerInfoModal = new bootstrap.Modal(document.getElementById('customerInfoModal'));
        let selectedDate = null;
        let selectedTime = null;
        let selectedCustomer = null;

        // Array com os meses do ano
        const months = [
            'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
            'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
        ];

        // Data atual
        let date = new Date();

        // Função para renderizar o calendário
        function renderCalendar() {
            calendarDays.innerHTML = '';
            const month = date.getMonth();
            const year = date.getFullYear();
            monthYear.innerText = `${months[month]} ${year}`;

            const firstDay = new Date(year, month, 1).getDay();
            const lastDate = new Date(year, month + 1, 0).getDate();

            // Adiciona dias vazios no início
            for (let i = 0; i < (firstDay || 7) - 1; i++) {
                calendarDays.innerHTML += `<div class="empty"></div>`;
            }

            // Adiciona os dias do mês
            for (let i = 1; i <= lastDate; i++) {
                const dayElement = document.createElement('div');
                dayElement.className = 'day';
                dayElement.innerText = i;

                if (selectedDate === `${i}/${month + 1}/${year}`) {
                    dayElement.classList.add('selected');
                }

                dayElement.addEventListener('click', function () {
                    selectedDate = `${i}/${month + 1}/${year}`;
                    document.querySelectorAll('.day').forEach(day => day.classList.remove('selected'));
                    dayElement.classList.add('selected');
                    renderTimeOptions(); // Agora, chama a função para renderizar os horários
                    timeModal.show(); // Mostra o modal de horários
                });

                calendarDays.appendChild(dayElement);
            }
        }


        // Função para buscar os dias já agendados do barbeiro
        function getBookedDates() {
            getBarberId().then(barbeiro_id => {
                if (!barbeiro_id) {
                    console.error("Barbeiro não autenticado!");
                    return;
                }

                $.ajax({
                    url: '/get_booked_dates',
                    method: 'GET',
                    data: { barbeiro_id: barbeiro_id },
                    success: function (response) {
                        if (response.status === 'success') {
                            bookedDates = response.dates; // Exemplo de retorno: ["2025-02-10", "2025-02-15"]
                            renderCalendar(); // Atualiza o calendário após carregar as datas
                        } else {
                            console.error("Erro ao buscar datas agendadas:", response.message);
                        }
                    },
                    error: function () {
                        console.error("Erro ao carregar datas agendadas.");
                    }
                });
            });
        }

        // Função para fazer login do barbeiro
        function loginBarbeiro(email, senha) {
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email, senha: senha }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // Armazena o barbeiro_id no sessionStorage
                        sessionStorage.setItem('barbeiro_id', data.barbeiro_id);
                        console.log("Barbeiro ID armazenado no sessionStorage:", data.barbeiro_id);
                        // Redireciona ou faz algo após o login
                    } else {
                        console.error("Erro no login:", data.message);
                    }
                })
                .catch(error => {
                    console.error("Erro ao fazer login:", error);
                });
        }

        // Função para renderizar os horários disponíveis
        function getBarberId() {
            console.log("Executando getBarberId()...");

            return new Promise((resolve, reject) => {
                const barberId = sessionStorage.getItem('barbeiro_id');
                console.log("Valor no sessionStorage:", barberId);

                if (barberId) {
                    console.log("Resolvendo com ID do sessionStorage:", barberId);
                    resolve(barberId); // Retorna o ID salvo no navegador
                } else {
                    console.log("Buscando ID no backend...");
                    fetch('/get_barbeiro_id') // Faz requisição para o backend
                        .then(response => {
                            console.log("Resposta recebida do backend:", response);
                            return response.json();
                        })
                        .then(data => {
                            console.log("Dados convertidos:", data);
                            if (data.barbeiro_id) {
                                sessionStorage.setItem('barbeiro_id', data.barbeiro_id); // Salva no sessionStorage
                                console.log("Resolvendo com ID do backend:", data.barbeiro_id);
                                resolve(data.barbeiro_id);
                            } else {
                                console.error("Erro: Barbeiro não autenticado!");
                                reject('Barbeiro não autenticado');
                            }
                        })
                        .catch(error => {
                            console.error("Erro ao buscar ID no backend:", error);
                            reject(error);
                        });
                }
            });
        }




        
        // Função para renderizar os horários disponíveis
        function renderTimeOptions() {
            console.log("Chamando renderTimeOptions...");

            const selectedDateFormatted = formatDateForAPI(selectedDate);
            console.log("Data formatada:", selectedDateFormatted);

            getBarberId().then(barbeiro_id => {
                if (!barbeiro_id) {
                    Swal.fire('Erro', 'Barbeiro não autenticado!', 'error');
                    return;
                }

                console.log("Barbeiro ID recebido:", barbeiro_id);

                $.ajax({
                    url: '/get_agendamentos',
                    method: 'GET',
                    data: { barbeiro_id: barbeiro_id, data: selectedDateFormatted },
                    success: function (response) {
                        console.log("Resposta da API:", response);
                        if (response.status === 'success') {
                            // Renderizar horários aqui
                        } else {
                            Swal.fire('Erro', response.message, 'error');
                        }
                    },
                    error: function () {
                        Swal.fire('Erro', 'Não foi possível carregar os horários agendados.', 'error');
                    }
                });
            }).catch(error => {
                console.error("Erro em renderTimeOptions:", error);
                Swal.fire('Erro', 'Falha ao obter agendamentos.', 'error');
            });
        }

        // Função para confirmar o agendamentos
        function confirmarAgendamento(cliente_id, dataSelecionada, horario_agd) {
            console.log("Enviando agendamento:", { cliente_id, data: dataSelecionada, horario_agd });

            $.ajax({
                url: '/confirm_agd',
                method: 'POST',
                contentType: 'application/json', 
                data: JSON.stringify({
                    cliente_id: cliente_id,
                    data_agendamento: dataSelecionada,
                    horario_agd: horario_agd
                }),
                success: function (response) {
                    Swal.fire('Sucesso', 'Agendamento confirmado!', 'success');
                },
                error: function (xhr) {
                    console.error("Erro ao agendar:", xhr.responseText);
                    Swal.fire('Erro', 'Falha ao confirmar o agendamento.', 'error');
                }
            });

        }


        // Função para formatar a data corretamente (YYYY-MM-DD)
        function formatDateForAPI(date) {
            const [day, month, year] = date.split('/');
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`; // Formato correto para API
        }

        // Função para esconder o modal de horários
        function hideTimeModal() {
            document.querySelector('#timeOptions').style.display = 'none'; // Esconde as opções de horário
            document.querySelector('#barber-selection').style.display = 'none'; // Esconde a seleção de barbeiro, se aplicável
            $('#timeModal').modal('hide'); // Fecha o modal
        }

        // Função para navegar entre os meses
        prevMonth.addEventListener('click', () => {
            date.setMonth(date.getMonth() - 1);
            renderCalendar(); // Renderiza o calendário do mês anterior
        });

        nextMonth.addEventListener('click', () => {
            date.setMonth(date.getMonth() + 1);
            renderCalendar(); // Renderiza o calendário do próximo mês
        });

        // Renderiza o calendário inicial
        renderCalendar();
















        // Função para buscar agendamentos do mês atual
        function fetchAppointmentsForMonth(year, month) {
            const barbeiro_id = sessionStorage.getItem('barbeiro_id');
            if (!barbeiro_id) {
                console.error("Barbeiro não autenticado!");
                return;
            }

            const startDate = `${year}-${String(month + 1).padStart(2, '0')}-01`;
            const endDate = `${year}-${String(month + 1).padStart(2, '0')}-${new Date(year, month + 1, 0).getDate()}`;

            $.ajax({
                url: '/get_agendamentos',
                method: 'GET',
                data: { barbeiro_id: barbeiro_id, start_date: startDate, end_date: endDate },
                success: function (response) {
                    if (response.status === 'success') {
                        highlightDaysWithAppointments(response.agendamentos);
                    } else {
                        console.error("Erro ao buscar agendamentos:", response.message);
                    }
                },
                error: function () {
                    console.error("Erro ao buscar agendamentos.");
                }
            });
        }

            // Função para destacar os dias com agendamentos
            function highlightDaysWithAppointments(agendamentos) {
                const daysWithAppointments = new Set();
                agendamentos.forEach(agendamento => {
                    const date = new Date(agendamento.data);
                    daysWithAppointments.add(date.getDate());
                });

                document.querySelectorAll('.day').forEach(day => {
                    if (daysWithAppointments.has(Number(day.innerText))) {
                        day.classList.add('has-appointment');
                    }
                });
            }

            // Chamada ao renderizar o calendário
            function renderCalendar() {
                calendarDays.innerHTML = '';
                const month = date.getMonth();
                const year = date.getFullYear();
                monthYear.innerText = `${months[month]} ${year}`;

                const firstDay = new Date(year, month, 1).getDay();
                const lastDate = new Date(year, month + 1, 0).getDate();

                // Adiciona dias vazios no início
                for (let i = 0; i < (firstDay || 7) - 1; i++) {
                    calendarDays.innerHTML += `<div class="empty"></div>`;
                }

                // Adiciona os dias do mês
                for (let i = 1; i <= lastDate; i++) {
                    const dayElement = document.createElement('div');
                    dayElement.className = 'day';
                    dayElement.innerText = i;

                    if (selectedDate === `${i}/${month + 1}/${year}`) {
                        dayElement.classList.add('selected');
                    }

                    dayElement.addEventListener('click', function () {
                        selectedDate = `${i}/${month + 1}/${year}`;
                        document.querySelectorAll('.day').forEach(day => day.classList.remove('selected'));
                        dayElement.classList.add('selected');
                        renderTimeOptions(); // Mostra os horários disponíveis
                        timeModal.show(); // Abre o modal de horários
                    });

                    calendarDays.appendChild(dayElement);
                }

                // Busca agendamentos para o mês atual
                fetchAppointmentsForMonth(year, month);
}


//MUDANÇA NA LÓGICA AQUI


            function renderTimeOptions() {
                console.log("Chamando renderTimeOptions...");

                const selectedDateFormatted = formatDateForAPI(selectedDate);
                console.log("Data formatada:", selectedDateFormatted);

                 

                getBarberId().then(barbeiro_id => {
                    if (!barbeiro_id) {
                        Swal.fire('Erro', 'Barbeiro não autenticado!', 'error');
                        return;
                    }

                    console.log("Barbeiro ID recebido:", barbeiro_id);

                    

                    $.ajax({
                        url: '/get_agendamentos',
                        method: 'GET',
                        data: { barbeiro_id: barbeiro_id, data: selectedDateFormatted },
                        success: function (response) {
                            console.log("Resposta da API:", response);
                            if (response.status === 'success') {
                                timeOptions.innerHTML = ''; // Limpa os horários anteriores

                                response.agendamentos.forEach(agendamento => {
                                    const timeButton = document.createElement('button');
                                    timeButton.className = 'btn btn-outline-primary';
                                    timeButton.innerText = agendamento.horario_agd;
                                    timeButton.addEventListener('click', () => {
                                        selectedTime = agendamento.horario_agd;
                                        selectedCustomer = agendamento;
                                        showCustomerInfo(agendamento); // Exibe as informações do cliente
                                    });
                                    timeOptions.appendChild(timeButton);
                                });
                            } else {
                                Swal.fire('Erro', response.message, 'error');
                            }
                        },
                        error: function () {
                            Swal.fire('Erro', 'Não foi possível carregar os horários agendados.', 'error');
                        }
                    });
                }).catch(error => {
                    console.error("Erro em renderTimeOptions:", error);
                    Swal.fire('Erro', 'Falha ao obter agendamentos.', 'error');
                });
            }

            

            // Função para exibir as informações do cliente
            function showCustomerInfo(agendamento) {
                document.getElementById('customerName').value = agendamento.cliente_nome;
                document.getElementById('customerPhone').value = agendamento.telefone;
                document.getElementById('customerEmail').value = agendamento.email;
                customerInfoModal.show(); // Abre o modal de informações do cliente
            }
    </script>


</body>

</html>